@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
.section1 {
  height: 100vh;
  background-color: red;
  width: 100%;
}
.section2 {
  height: 100vh;
  background-color: green;
  width: 100%;
}
